h1{
    text-align: center;
    text-transform: capitalize;
    text-decoration:  underline dotted;
}

*{
    font-family: 'Times New Roman', Times, serif;
}

p{
    text-transform: capitalize;
    text-decoration: underline wavy;
    line-height: 75px;
    
}

#Q1{
    text-decoration: none;
}

#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
}